@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Stardos+Stencil:700");
html { font-size: 10px; }

body { font-size: 1.6rem; margin: 0; padding: 0; font-family: "Source Sans Pro", arial, sans-serif; background: white; }

ul { list-style: none; margin: 0; padding: 0; }

a { text-decoration: none; color: black; }
a:hover { color: gray; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

hr { color: #333; }

.main { max-width: 800px; margin: 0 auto; }

.align-center { text-align: center; }

.top { position: relative; }

.top_elements { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: 40px; }
.top_elements li { position: relative; }
.top_elements li a { display: inline-block; padding: 10px 20px; margin: 10px 20px; font-size: 1.8rem; color: white; }
.top_elements li .dropDown { opacity: 0; display: none; position: absolute; overflow: hidden; padding: 20px; top: -40px; border-radius: 2px; -webkit-transition: all 300ms; transition: all 300ms; -webkit-transform: translateY(100px); transform: translateY(100px); will-change: transform; }

.dropDownBackground { width: 100px; height: 100px; position: absolute; background: white; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 50px rgba(50, 50, 93, 0.1), 0 5px 50px rgba(0, 0, 0, 0.1); box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 50px rgba(50, 50, 93, 0.1), 0 5px 50px rgba(0, 0, 0, 0.1); opacity: 0; -webkit-transition: all 300ms, opacity 100ms, translate 200ms; transition: all 300ms, opacity 100ms, translate 200ms; -webkit-transform-origin: 50% 0%; transform-origin: 50% 0%; -webkit-transform: translate(50vw, 0); transform: translate(50vw, 0); }
.dropDownBackground .arrow { position: absolute; width: 20px; height: 20px; display: block; background: white; -webkit-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }

.stripes { display: grid; grid: repeat(5, 150px)/repeat(10, 1fr); position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; -webkit-transform: skewY(-12deg); transform: skewY(-12deg); -webkit-transform-origin: 0; transform-origin: 0; background: -webkit-gradient(linear, left top, left bottom, from(#D81B60), color-stop(10%, #EC407A), color-stop(40%, #F48FB1), color-stop(50%, #F8BBD0), color-stop(90%, #FCE4EC), to(#fff)); background: linear-gradient(to bottom, #D81B60, #EC407A 10%, #F48FB1 40%, #F8BBD0 50%, #FCE4EC 90%, #fff 100%); -webkit-filter: blur(3px) opacity(0.8); filter: blur(3px) opacity(0.8); }

.strip:nth-child(1) { grid-row: 1/span 4; grid-column: 1; background: -webkit-gradient(linear, left bottom, left top, from(#D81B60), color-stop(10%, #EC407A)); background: linear-gradient(to top, #D81B60, #EC407A 10%); }

.strip:nth-child(2) { grid-row: 2; grid-column: span 7/-1; background: #D81B60; }

.strip:nth-child(3) { grid-row: 4; grid-column: 3/span 5; background: #F48FB1; }

.strip:last-child { grid-row: 2/span 3; grid-column: 3; background-color: #EC407A; }

.panel { margin-bottom: 30px; }

.panel_number { display: inline-block; width: 20rem; font-size: 20rem; line-height: 20rem; padding: 14px; margin: 0 10px; border-radius: 50%; background: #D81B60; color: #F8BBD0; text-shadow: 0 20px 50px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2); font-family: "Stardos Stencil", cursive; }

.spin_button { margin: 0 auto; width: 20rem; background: white; padding: 10px; border-radius: 3px; color: #D81B60; letter-spacing: 40px; margin-bottom: 30px; font-weight: bold; font-size: 1.8rem; text-align: center; -webkit-box-shadow: 0 10px 30px rgba(216, 27, 96, 0.5), 0 20px 50px rgba(216, 27, 96, 0.2); box-shadow: 0 10px 30px rgba(216, 27, 96, 0.5), 0 20px 50px rgba(216, 27, 96, 0.2); cursor: pointer; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
.spin_button span { letter-spacing: 0; }

.bingo_wrapper { text-align: center; }

.bingo { display: inline-block; width: 3rem; line-height: 3rem; padding: 4px; opacity: 0.3; background: #D81B60; color: white; border-radius: 3px; margin: 10px 5px; text-align: center; font-size: 2rem; font-weight: bold; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }

.trigger-enter .dropDown { display: block !important; }

.trigger-enter-active .dropDown { opacity: 1 !important; }

.dropDownBackground.open { opacity: 1; }

.matched { opacity: 1; }

.inactive { opacity: 0.5; pointer-events: none; cursor: default; }

/*# sourceMappingURL=app.css.map */